body {
  font-family: Comic Sans MS, sans-serif;
  backround-color: #ff0000;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  backround: #000000;
  color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  backround: #005f73;
}
